# List here the files and folders to exclude from tracking by the Git version control system
# Inspired from https://www.toptal.com/developers/gitignore/api/python adapted for labOMC


### Directories (and thus their content) ###
# Add here folders from your project you do not want tracked


### Operating system (OS) ###
Thumbs.db
*.DS_Store


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


### Spyder project settings ###
.spyderproject
.spyproject


### Pycharm ###
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/


### SageMath parsed files ###
*.sage.py


### IPython ###
profile_default/
ipython_config.py


### Jupyter Notebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*


### LaTeX ###
*.aux
*.log
*.toc
*.out
*.synctex.gz


### Sphinx documentation ###
docs/_build/


### mkdocs documentation ###
/site


### Environments ###
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


### Cython debug symbols ###
cython_debug/


### C extensions ###
*.so


### Data ###
*/data
*.csv

### package ###
pyproject.toml

### executable packages ###
 *./output/GUI

### Tower config files ###
*.json



